.p1{
	font-size: 22px;
    color: #1e266d;

}
.p2{
	font-size: 22px;
    color: #1e266d;
}
.p3{

	font-size: 22px;
    color: #1e266d;
}
.h1{
	color: #1e266d;
	font-size: 45px;
	line-height: 50px;
}
.span1{
	color: #1e266d;
}
.btn1{
	background-color: #00AEEF;
    color: black;
     border: none;
     border-radius: 80px;
     width: 160px;
     height: 80px;
}





